body {
  font-family: "Clear Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  background-color: #ebecec;
  background: #f8f8f8;
  margin: 0;
}
/* #axisBank {
  border: 1px solid seagreen;
} */
img {
  display: block;
  width: 520px;
  height: 170px;
  margin: auto;
  margin-left: 390px;
}
#container {
  /* border: 1px solid green; */
  height: 400px;
  width: 40%;
  margin: auto;
  margin-top: 5%;
  margin-left: 420px;
}
h3 {
  font-size: 26px;
  /* border: 1px solid seagreen; */
  text-align: center;
  width: 85%;
  color: #ae275f;
}
input {
  border: 1px solid grey;
  margin: 7px;
  height: 40px;
  width: 80%;
  text-align: left;
  padding-left: 10px;
  font-size: 20px;
  /* color: white; */
}
input:last-child {
  background-color: #eb1165;
  width: 444px;
  border: 0;
  color: white;
  text-align: center;
  font-size: 25px;
}
