body {
  font-family: "Clear Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  background-color: #ebecec;
  background: #f8f8f8;
  margin: 0;
}
.line-through {
  text-decoration: line-through;
}
.orange {
  color: #ff6f61;
}
/* navbar */
#navbar {
  /* border: 1px solid red; */
  /* box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2  .6px; */
  height: 40px;
  display: flex;
  background-color: white;
  margin: 0;
}
#navbar > div:nth-child(1) {
  /* border: 1px solid green; */
  width: 112px;
  margin-left: 10px;
  margin-right: 10px;
}
.logo {
  width: 95px;
  margin-top: 3%;
  margin-left: 5%;
}
#navbar > div:nth-child(2) {
  width: 50%;
}
#navbar > div:nth-child(2) > div {
  /* border: 1px solid yellow; */
  background-color: #f1f4f6;
  margin-top: 5px;
  height: 30px;
  width: 600px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#navbar > div:nth-child(2) > div > p {
  color: #a3a3a3;
  font-size: small;
  margin-left: 20px;
}
#navbar > div:nth-child(2) > div > i {
  color: #a3a3a3;
  font-size: small;
  margin-right: 20px;
}
#navbar > div:nth-child(3) {
  margin-left: 32%;
}
#navbar > div:nth-child(3) > p {
  font-size: 12px;
}

/* summary section */
#page-title {
  /* border: 1px solid seagreen; */
  margin-left: 12%;
}

/* Container */
#container {
  /* border: 1px solid seagreen; */
  height: auto;
  width: 980px;
  margin: auto;
  margin-top: 3%;
  display: flex;

  justify-content: space-between;
}
/* first container */
#first-container {
  /* border: 1px solid blue; */
  height: auto;
  width: 620px;
  display: flex;
  margin-top: 0;
}
#first-container > div:nth-child(1) {
  /* border: 1px solid chartreuse; */
  background-color: #fff3e3;
  height: 400px;
  width: 35%;
  margin: auto;
  margin-top: 0;
  padding: 10px;
}
#first-container > div:nth-child(1) > div {
  /* border: 1px solid red; */
  height: 60px;
  display: flex;
  align-items: center;
}
#first-container > div:nth-child(1) > div:hover {
  background-color: white;
}
#first-container img {
  width: 35px;
  height: 30px;
  margin-left: 4%;
  margin-right: 4%;
}
#first-container > div:nth-child(1) > div:nth-child(4) {
  background-color: white;
}
#first-container > div:nth-child(1) > div:nth-child(2) img {
  height: 50px;
}
#first-container p {
  font-size: 16px;
  font-weight: 400;
  color: rgba(33, 33, 33, 0.87);
  margin-bottom: 14px;
}
#banks {
  /* border: 1px solid brown; */
  background-color: white;
  height: 420px;
  width: 70%;
  margin: auto;
  margin-top: 0;
}
#banks > div:nth-child(1) {
  /* border: 1px solid slateblue; */
  height: 160px;
  width: 80%;
  margin: auto;
  margin-top: 5%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
#banks > div:nth-child(1) > div {
  /* border: 1px solid seagreen; */
  height: 45%;
  display: flex;
}
#banks > div:nth-child(1) > div > div {
  border: 1px solid rgb(202, 202, 202);
  width: 45%;
  height: 90%;
  margin: auto;
  padding-left: 10px;
  display: flex;
  justify-content: left;
  align-items: center;
}
#banks h4,
#banks i {
  color: rgba(33, 33, 33, 0.87);
  font-size: 14px;
  font-weight: 700;
}
#banks img {
  width: 30px;
  height: 30px;
}
#banks > div:nth-child(2) {
  /* border: 1px solid yellowgreen; */
  height: 100px;
  width: 80%;
  margin: auto;
  margin-top: 5%;
}
#banks > div:nth-child(2) > div:nth-child(1) {
  border: 1px solid rgb(202, 202, 202);
  height: 50%;
  display: flex;
  justify-content: left;
  align-items: center;
  padding: 5px;
}
#banks > div:nth-child(2) > div:nth-child(2) {
  border: 1px solid rgb(202, 202, 202);
  height: 35%;
  margin-top: 3%;
  padding-right: 10px;
  padding-left: 10px;
  display: flex;
  align-items: center;
}
#banks > div:nth-child(2) > div:nth-child(2) > div {
  /* border: 1px solid red; */
  width: 100%;

  height: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#items {
  background-color: white;
  /* box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px; */
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 2px 0px;
  height: auto;
  width: 90%;
  margin: auto;
  padding: 2%;
  /* display: flex;
    flex-direction: column;
    justify-content: center; */
}
#items > div:nth-child(1) {
  /* border: 1px solid black; */
  width: 100%;
  height: 30px;
  font-weight: 700;
  font-size: 12px;
  display: flex;
  justify-content: space-between;
}
#items > div:nth-child(2) {
  /* border: 1px solid black; */
  width: 100%;
  height: 20px;
  font-size: 10px;
  font-weight: 700;
  color: #9e9e9e;
  margin-top: 0;
  display: flex;
  justify-content: space-between;
}
#items > div:nth-child(2) > p {
  margin-top: 2px;
}
#items > div:nth-child(3) {
  /* border: 1px solid black; */
  width: 100%;
  height: 25px;
  margin-top: 4.5%;
  margin-bottom: 2.5%;
  display: flex;
  justify-content: space-between;
}
#items > div:nth-child(3) > div:nth-child(1) {
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: #9e9e9e;
  width: 68px;
}
#items > div:nth-child(3) > div:nth-child(2) {
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: #ff6f61;
  width: 68px;
}

/* second container */
#second-container {
  /* border: 1px solid black; */
  height: auto;
  width: 340px;
}
#second-container > div:nth-child(1) {
  /* border: 1px solid firebrick; */
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 2px 0px;
  background-color: white;
  height: auto;
  box-sizing: border-box;
  width: 100%;
  margin: auto;
  margin-top: 0;
  padding: 4%;
}
#second-container > div:nth-child(1) > img {
  width: 5%;
}

#second-container > div:nth-child(1) > p {
  display: inline;
  color: #212121;
  font-size: 14px;
  line-height: 1.42857143;
  margin: 0;
  /* margin-top: 1%; */
}
#second-container > div:nth-child(1) > div {
  margin-top: 4%;
  display: flex;
  justify-content: space-between;
}
#second-container > div:nth-child(1) > div > button:nth-child(1) {
  padding: 6px 20px;
  width: 45%;
  font-weight: 700;
  font-size: 12px;
  border-radius: 5px;
  color: #ff6f61;
  background-color: white;
  border: 1px solid #ff6f61;
}
#second-container > div:nth-child(1) > div > button:nth-child(2) {
  padding: 6px 20px;
  width: 45%;
  font-weight: 700;
  font-size: 12px;
  border-radius: 5px;
  background-color: #ff6f61;
  color: white;
  border: 0;
}
/* #second-container > div:nth-child(2) {
  border: 1px solid red;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 2px 0px;
  background-color: white;
  width: 100%;
  margin: auto;
  margin-top: 1px;
  padding-bottom: 3%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#second-container > div:nth-child(2) > div {
  height: 20px;
  color: #2b2b2b;
  font-size: 14px;
  font-weight: 700;
}
#second-container > div:nth-child(2) > div:nth-child(1) {
  width: 124px;
  margin-left: 3%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 3%;
}
#second-container > div:nth-child(2) > div:nth-child(2) {
  margin-top: 3%;
  
} */
#second-container i {
  font-size: 20px;
  color: #9e9e9e;
}
#price-details {
  /* border: 1px solid seagreen; */
  height: auto;
  width: 100%;
  margin-top: 5%;
}
#price-details p {
  font-size: 12px;
  color: #333;
}
#price-details h5 {
  color: #767676;
  font-size: 16px;
  font-weight: 700;
  margin-bottom: 10px;
  margin-top: 10px;
}
#price-details > div {
  /* border: 1px solid seagreen; */
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 2px 0px;
  display: flex;
  justify-content: space-between;
  padding-left: 2%;
  padding-right: 2%;
  height: auto;
}
#price-details > div:last-child {
  background-color: #e4f6e7;
}
#price-details > div:last-child > h5 {
  color: rgb(26, 171, 42);
}
#checkout {
  /* border: 1px solid red; */
  width: 100%;
  height: auto;
  margin-top: 4%;
  background-color: white;
  /* padding-bottom: 3%; */
}

#checkout-btn {
  background-color: #ff6f61;
  color: white;
  font-size: 14px;
  font-weight: 500;
  width: 100%;
  height: 14px;
  margin: auto;
  padding: 15px 0px 15px 0px;
  /* text-align: center; */
  border-radius: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
}
#checkout > div:nth-child(1):hover {
  background-color: white;
  color: #ff6f61;
  border: 1px solid #ff6f61;
}

#second-container > .footer-text {
  /* border: 1px solid red; */
  width: 94%;
  margin: auto;
  margin-top: 40%;
  font-size: 10px;
  color: #757575;
  line-height: 1.42857143;
}
.footer-text {
  /* border: 1px solid red; */
  /* width: 100%; */
  margin: auto;
  margin-top: 27%;
  font-size: 10px;
  color: #757575;
  line-height: 1.5;
}
/* #checkout > div:nth-child(1) > p {
    color: #757575;
    font-size: 14px;
  } */
/* #checkout > div > p + p,
  #checkout i {
    color: #ff6f61;
    font-size: 12px;
    font-weight: 700;
  } */

/* #checkout > div:nth-child(1) {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    margin: auto;
  } */
